*~
.#*
\#*\#

elpa
.DS_Store

.cache
history
.lsp-session-v1
custom-vars.el
org-roam.db
transient
projectile.cache
projectile-bookmarks.eld

workspace/
eclipse.jdt.ls/
eshell/
recentf
/.dap-breakpoints
/.extension/
/anaconda-mode/
/projects
/savefile/
/.org-id-locations
/bookmarks
/eglot-eclipse-jdt-cache/
/forge-database.sqlite
/request/
/share/
/tutorial/
/games/
/eglot-java-eclipse-jdt-cache/
/tramp
/logview-cache.extmap
