*~
.#*
\#*\#

elpa
.DS_Store

.cache
history
.lsp-session-v1
custom-vars.el
org-roam.db
transient
projectile.cache
projectile-bookmarks.eld

workspace/
eclipse.jdt.ls/
eshell/
recentf
/.dap-breakpoints
